.button::after {
  height: 100%;
  left: -36%;
  top: 0;
  width: 0;
  transform: skew(50deg);
  transform-origin: top left;
  transition: all 400ms ease;
}

.button:hover::after {
  height: 100%;
  width: 136%;
}

.button {
  overflow: hidden;
  font-size: 14px;
  padding: 8px 20px;
  margin-right: 12px;
  border: 2px solid;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  transition: all 400ms ease;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
  color: var(--primary);
  border-color: var(--primary);
  border-radius: 4px;
  display: block;
  margin: 8px auto;
  text-align: center;
  width: 25%;
}
.button::before,
.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--primary);
}

.button:hover {
  color: white;
}
.button {
  width: calc(100% - 80px);
}